'.source.pick':
  'editor':
    'foldEndPattern': '\\b(REPEAT)\\b|^\\s*\\b(NEXT)\\b|^\\s*\\b(END)|^\\s*\\b(CASE)\\b|^\\s*\\b(END CASE)'

    'increaseIndentPattern': '(?x)
        ^\\s*\\b(BEGIN\\sCASE|LOOP)$
        |^\\s*\\b(FOR|CASE)\\b
        |\\b(THEN|LOCKED|ON\\sERROR|ELSE)$
      '

    'indentNextLinePattern': '(?x)

      '

    'decreaseNextIndent': '(?x)

      '

    'decreaseIndentPattern': '(?x)
        ^\\s*\\b(NEXT|CASE)(?=.)
        |\\b(REPEAT)\\b
        |^\\s*\\b(REPEAT|END\\sCASE)$
        |^\\s*\\b(END)\\b
      '
